.about-us
    .trapezoide
        .container
            .about-us__principal
                h2.about-us__title ¿QUIÉNES SOMOS?
                p.about-us__description Somos una institución conformada por un grupo de profesionales altamente calificados en materia de transporte, tránsito y seguridad vial.
            .about-us__business
                .about-us__information
                    h3.about-us__sub-title Misión
                    hr.hr
                    .about-us__text Formar y capacitar conductores responsables para la sociedad priorizando como fin supremo, la vida.
                .about-us__information
                    h3.about-us__sub-title Visión
                    hr.hr
                    .about-us__text Ser la primera opción en la mente de nuestros clientes y la sociedad en general cuando se piense en una licencia de conducir y demás servicios relacionados el transporte, tránsito y seguridad vial.
                .about-us__image
                    img(src="/img/about-us.jpeg")
        .bg-trapezoide