.banner
    ul.banner__images
        li.banner__image 
            img.banner__image-item(src="img/bg-headerOscurecido.jpg" alt="Banner")
        li.banner__image
            img.banner__image-item(src="img/bg-headerOscurecido.jpg" alt="Banner")
        li.banner__image
            img.banner__image-item(src="img/bg-headerOscurecido.jpg" alt="Banner")
    .container.banner__data-container
        form.form
            .form__header Inscripción
            input.form__name(type="text" placeholder="Nombre")
            input.form__email(type="text" placeholder="Email")
            input.form__phone(type="text" placeholder="Teléfono")
            input.form__course(type="select")
            button.button--red Enviar
        .banner__data
            h1 Bienvenido a Global Car
            h2 Aprende a <span>manejar</span> con nosotros
            p Somos tu mejor opción para aprender a manejar todo tipo de vehículos<br> y obtener tu brevete de la manera más rápida y sencilla
            button.button--white Inscribirse
            button.button--red Ver Más

