.categories
    .tab-bar
    .container
        article.category
            h3.category__title CATEGORÍA AI
            p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
            .category__body
                .category__requisites
                    h4.category__stitle REQUISITOS
                    hr.hr--yellow
                    p Secundaria completa.
                        br 
                        |Edad 18 años. 
                        br 
                        |DNI con dirección domicialiria en Lima.
                        br 
                        |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                        br 
                        |Examen de reglas o profesionalización en la escuela BREVETES PERU.
                        br 
                        |Aprobar el examen de manejo
                        br 
                        |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                .category__vehicles
                    h4.category__stitle VEHÍCULOS
                    hr.hr--yellow
                    img.category__img-vehicles