.categories
    .container
        h2.categories__title TODAS LAS 
            span CATEGORÍAS
        ul.tab-bar
            li.tab-bar__item.active AI
            li.tab-bar__item AIIa
            li.tab-bar__item AIIb
            li.tab-bar__item AIIIa
            li.tab-bar__item AIIIb
            li.tab-bar__item AIIIc
        .categories__category-container.container
            article.category.active
                h3.category__title CATEGORÍA AI
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela BREVETES PERU.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
            article.category
                h3.category__title CATEGORÍA AIIa
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela BREVETES PERU.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
            article.category
                h3.category__title CATEGORÍA AIIb
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela GLOBAL CAR.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
            article.category
                h3.category__title CATEGORÍA AIIIa
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela BREVETES PERU.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
            article.category
                h3.category__title CATEGORÍA AIIIb
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela BREVETES PERU.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
            article.category
                h3.category__title CATEGORÍA AIIIc
                p.category__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptate ullam sint praesentium soluta suscipit modi, illo dolor provident consequatur aliquam, quaerat.
                .category__body
                    .category__requisites
                        h4.category__stitle REQUISITOS
                        p Secundaria completa.
                            br 
                            |Edad 18 años. 
                            br 
                            |DNI con dirección domicialiria en Lima.
                            br 
                            |Examen Médico en Centro Médico Servimedic o Psicomedicos.
                            br 
                            |Examen de reglas o profesionalización en la escuela GLOBAL CAR.
                            br 
                            |Aprobar el examen de manejo
                            br 
                            |Pago en el Banco de la Nacion de S/ 24.50 por derecho a tu licencia de conducir.
                    .category__vehicles
                        h4.category__stitle VEHÍCULOS
                        img.category__img-vehicles
                        