.contact-us
    h2.contact-us__title CONTÁCTANOS
    .contact-form
        .contact-form__item
            label(for='username').contact-form__label
            input(type='text' name='name' id='name' placeholder='Nombre').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label
            input(type='text' name='name' id='name' placeholder='Email').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label
            input(type='phone' name='name' id='name' placeholder='Teléfono').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label
            textarea(placeholder="Escriba su mensaje", name="name", rows="15").contact-form__input
        input(type='submit' value='Enviar').contact-form__submit.button