.contact-us
    h2.contact-us__title CONTÁCTANOS
    .contact-form
        .contact-form__item
            label(for='username').contact-form__label NOMBRE:*
            input(type='text' name='name' id='name').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label EMAIL:*
            input(type='text' name='name' id='name').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label TELÉFONO o CELULAR:*
            input(type='number' name='name' id='name').contact-form__input 
        .contact-form__item
            label(for='username').contact-form__label MENSAJE:
            textarea(name='name' id='name').contact-form__input 
        input(type='submit' value='Enviar').contact-form__submit.button