.footer
    .footer__info
        .footer__section
            p.footer__text Llámanos para más información
            span.footer__icon.icon-mobile
            p.footer__number 044-665743
        .footer__section
            p.footer__text Visita nuestras redes sociales
            a.footer__item.icon-facebook
            a.footer__item.icon-twitter
            a.footer__item.icon-youtube
    hr.footer__hr
    p.footer__copyright Global Car SAC &copy; 2017. Privacy Policy | Desarrollado por HeadCita