header.header
    .div.container.header-info
        .div.header-info__logo
            img(src="/img/logo.png")
        .div.header-info__burger#burger
            span
            span
            span
