header.header
    .container.header-info
        .header-info__logo
            img(src="/img/logo.png")
        .header-info__burger#burger
            span
            span
            span
        .header-info__contact
            .socials
                    a.socials__item.icon-facebook
                    a.socials__item.icon-twitter
                    a.socials__item.icon-youtube
            .header-info__reception
                span.icon-mobile
                p.header-info__number 044-665743