.invitation
    h2.invitation__title ¿QUÉ TE GUSTARIA
        span  CONDUCIR?
    .invitation__body
        .vehicle-invitation
            img.vehicle-invitation__img(src="/img/particular.png" alt="Conduce un auto particular")
            h3.vehicle-invitation__title Particular
        .vehicle-invitation
            img.vehicle-invitation__img(src="/img/taxi.png" alt="Conduce taxi")
            h3.vehicle-invitation__title Taxi
        .vehicle-invitation
            img.vehicle-invitation__img(src="/img/combi.png" alt="Conduce una combi")
            h3.vehicle-invitation__title Combi