nav.menu
    .container.menu__bar
        ul.menu__items
            li.menu__item
                a.menu__link INICIO
            li.menu__item
                a.menu__link NOSOTROS
            li.menu__item
                a.menu__link CURSOS
            li.menu__item
                a.menu__link CATEGORIAS
            li.menu__item
                a.menu__link GALERIA
            li.menu__item
                a.menu__link LOCALES
            li.menu__item
                a.menu__link CONTACTO
