nav.menu
    .container.menu__bar
        ul.menu__items
            li.menu__item
                a.menu__link(onclick="$('header').animatescroll();") INICIO
            li.menu__item
                a.menu__link(onclick="$('.about-us').animatescroll();") NOSOTROS
            li.menu__item
                a.menu__link(onclick="$('.categories').animatescroll();") CURSOS
            li.menu__item
                a.menu__link(onclick="$('.categories').animatescroll();") CATEGORIAS
            li.menu__item
                a.menu__link(onclick="$('.put-us-father').animatescroll();") LOCALES
            li.menu__item
                a.menu__link(onclick="$('.contact-us').animatescroll();") CONTACTO
