.about-us{
    //background-color: color(amarillo);
    box-sizing: border-box;
    padding-top: 50px;    
    padding-bottom: 30px;
    position: relative;
    background-color: #F8F8f8;

    .trapezoide {
        background-color: color(amarillo);
        transform: skewY(-5deg);
        padding: 40px 0;

        .container {
            transform: skewY(5deg);
            padding: 40px 0;
        }
    }
    
    &__road-bar{
        background: img('bg_slider_bottom.png') 0 0 repeat-x;
        //background: red;
        top: -39px;
        width: 100%;
        z-index: 6000;
        height: 78px;
        position: absolute;
        animation: bar-animation 160s infinite linear;
    }

    &__principal {
        padding-top: 10px;
    }

    &__title{
        text-align: center;
        margin: 0;
    }

    &__description{
        text-align: center;
        padding-top: 10px;
    }

    &__business{
        max-width: 85%;
        display: flex;   
        flex-direction: column;
        margin: auto;
    }

    &__information{
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px;        
    }

    &__sub-title{
        font-size: 2em;
        text-align: center;
        margin: 0;
    }  

    &__text{
        text-align: center;
    }

    &__image{
        display: none;    
    }    
}

@include mq($middle){
    .about-us{
        width: 100%;

        &__principal{
            max-width: 600px;
            margin: 0 auto;
        }

        &__business{
            flex-direction: row;
            max-width: 600px;
        }      

        &__information{
            box-sizing: border-box;            
            max-width: 50%;
            margin: 0 15px;
        }

        &__text{
            text-align: justify;
        }
    }
}

@include mq($large){
    .about-us{
        padding-top: 60px;
        padding-bottom: 50px;

        &__principal{
            max-width: 100%;
            margin: 0 auto;
        }

        &__business{
            max-width: 100%;
            justify-content: space-around;
        }

        &__information{
            width: 25%;
            margin: 0 1.5rem;
        }

        &__sub-title{
            text-align: left;
        }

        &__image{
            display: inline-block;
            width: 550px;
            margin: auto 10px;
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            transform: scaleX(-1);
        }        
    }
}