.about-us{
    background-color: color(amarillo);
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.content-about-us{
    &__title{
        text-align: center;
        margin: 0;
    }

    &__description{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.business{
    max-width: 85%;
    display: flex;   
    flex-direction: column;
    margin: auto;

    &__information{
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px;        
    }

    &__title{
        font-size: 2em;
        text-align: center;
        margin: 0;
    }

    &__hr{
        border: 0;
        height: 4px;
        width: 160px;
        margin-bottom: 20px;
        background-color: color(rojo);         
    }

    &__text{
        text-align: center;
    }
}

@include mq($middle){
    .content-about-us{
        max-width: 600px;
        margin: 0 auto;
    }

    .business{
        flex-direction: row;
        max-width: 600px;       

        &__information{
            box-sizing: border-box;            
            max-width: 50%;
            margin: 0 15px;
        }

        &__title{
            text-align: left;
        }

        &__hr{
            margin-left: 0;
        }

        &__text{
            text-align: justify;
        }
    }
}