.categories{
    background: color(blanco);
    color: color(letra);
    padding-top: 30px;
    h3{
        color: color(letra);
    } 
    h4{
        color: color(rojo);
    }
    padding-bottom: 78px; 
    
    &__title{
        margin-top: 0;
        text-align: center;
        color: color(letra);
        span{
            color: color(rojo);
        }
    }
    &__category-container{
        position: relative;
    }
}