.contact-us{
    background-color: color(blanco);
    
    padding-top: 30px;
    padding-bottom: 15px;
    &__title{
        text-align: center;
        color: color(rojo);
    }
}

.contact-form{
    padding: 20px 15px;
    &__item{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    &__label{
        margin-bottom: 5px;
    }
    &__input{
        border-width: 1px;
        border-style: solid;
        border-color: #FFFFFF;
        background-color: #DFDFDF;
        padding: 8px;
    }
    &__input::-webkit-input-placeholder {
        color: #666666;
    }
}

@include mq($middle){
    .contact-form{
        max-width: 600px;
        margin: 0 auto;
    }
    
}

@include mq($large){
    .contact-form{
        max-width: 800px;
        margin: 0 auto;
    }
    
}