.footer{
    background-color: #000000;
        
    &__copyright{
        color: #FFFFFF;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0;
    }
}