//Vista header

.header {
    background-color: color(rojo);
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__contact {
        display: none;
    }

    &__logo {
        width: 5rem;
        height: 80px;
        margin: 0.5rem 1rem;
    }

    &__burger {
        padding: 0.5rem;
        margin-right: 0.5rem; 
        cursor: pointer;
    }

    &__burger span {
        display: block;
        width: 30px;
        height: 5px;
        background: #eee;
        margin-bottom: 5px;
        position: relative;
        top: 0;
        transition: all ease-in-out 0.4s;
    }

    &__burger.open {
        position: fixed;
        right: 0;
        z-index: 1000;
    }

    &__burger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    &__burger.open span:nth-child(3) {
        transform: rotate(45deg);
        top: -10px;
    }

    &__burger.open span:nth-child(1){
        transform: rotate(-45deg);
        top: 10px;
    }

    @include mq($large) {

        &__contact {
            display: flex;
            align-items: center;
            margin: 0 1rem;
        }

        &__reception {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin: 0 1rem;
            }
        }

        &__number {
            margin: 0; 
            font-size: 2.2rem;
            letter-spacing: 2px;
            color: #eee;
            font-weight: $bold;
            text-align: center;

            &::before {
                content: 'Llama para más información';
                display: block;
                text-transform: uppercase;
                font-size: .8rem;
                letter-spacing: normal;
                color: #ddd;
            }
        }

        &__burger {
            display: none;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    margin-right: 1.7rem;

    &__item {
        text-decoration: none;
    }

    &__item::before {
        font-size: 1.5rem;
        color: #eee;
        margin: 0 .3rem;
        display: inline-block;
        padding: .4rem .4rem;
        border-radius: 3px;
    }
}

.icon-mobile::before {
    font-size: 3rem;
    background-color: color(amarillo);
    color: #eee;
    padding: 0.4rem 0.5rem; 
    border-radius: 5px;
    display: inline-block;
}

.icon-facebook::before {
    background-color: rgba(#3A5897,.99);
    color: #FFF;
}
.icon-twitter::before {
    background-color: rgba(#55ACEE,.99);
    color: #FFF;
}
.icon-youtube::before {
    background-color: rgba(#FFF,1);
    color: color(rojo);
}