.put-us-father{
    background: color(gris-oscuro);
    &__title{
        text-align: center;
        color: color(blanco);
        span{
            color: color(rojo);
        }
    }
    padding-top: 30px;
}
.put-us{
    display: flex;
    flex-direction: column;
    background: color(gris-oscuro);
    color: #fff; 
}

@include mq($middle){
    .put-us{
        flex-direction: row;
    }
}

@include mq($large){
    .put-us{
        justify-content: space-around;
    }
}


