//FONT
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

$font-family: 'Ubuntu', sans-serif;


// COLORS

$colors: (

);
$color1: #B3251E;
$color2: #F1B62F;
$color3: #373435; //letras


// BREAKPOINTS

$small: 320px;
$large: 720px;
$xlarge: 1224px;

// MEDIAQUERIES

@mixin mq($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}