//FONT
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

@import url(https://file.myfontastic.com/PHQBf2afPKJtJTFBEe7QzW/icons.css);

$font-family: 'Ubuntu', sans-serif;
$normal: 400;
$bold: 700;

// COLORS

$colors: (
    rojo: #B3251E,
    amarillo: #F1B62F,
    letra: #373435,
    gris-oscuro: #272727
);

@function color($color){
    @return map-get($colors, $color);
}

// BREAKPOINTS

$small: 0;
$middle: 640px;
$large: 1024px;
$xlarge: 1440px;

// MEDIAQUERIES

@mixin mq($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

//IMAGENES

@function img($img){
    @return url('../img/#{$img}');
}