.button{
    padding: 10px 15px;
    color: white;
    background: black;
    border: none;
}

.button--red{
    @extend .button;
    background: color(rojo);
    text-transform: uppercase;
    font-size: .8rem;
    border: 1px solid color(rojo);
    transition: all 0.2s;

    &:hover {
        color: color(rojo);
        background-color: #fff;
        border-color: #fff;
    }
}

.button--white{
    @extend .button;
    background: transparent;
    text-transform: uppercase;
    font-size: .8rem;
    margin: 0 .5rem 0 0;
    color: white;
    border: 1px solid #fff;
    transition: all 0.2s;

    &:hover {
        color: color(letra);
        background-color: #fff;
    }
}
