.office{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px; //a los costados
    margin-bottom: 50px;

    &__title{
        color: color(blanco);
        span{
            color: color(amarillo);
        }
    }

    &__contact{
        display: flex;
        flex-direction: column;
    }

    &__data{
    display: flex;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(20% - 5px);
        margin-right: 10px;
        font-size: 30px;
    }

    &__text{
        width: calc(80% - 5px);
    }

    &__map{
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

}

@include mq($middle){
    .office{
        width: 50%;
        margin-bottom: 80px;
        &__contact{
            justify-content: space-between;
        }
        &__map{
            height: 250px;
        }
    }
}

@include mq($large){
    .office{
        flex-basis: 35%;
    }
}