.tab-bar{
    width: 60%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex: auto;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    &__item{
        width: 100%;
        text-align: center;
        border-left: 2px solid #fff;
        &.active{
            background: #fff;
            color: color(rojo);
        }
        &:hover{
            background: #fff;
            color: color(rojo);
        }
    }
    &__item:nth-child(1){
        border-left: none;
    }
    
   
}